@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
  
}

body {
    background-image:linear-gradient(to bottom, #CB7CD9,#130c14);
}

main{
    background-color: #ffff;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 10px 10px 15px black;
}

p {
    text-align: justify;
    
}

h1 { color: #4F8F04;
text-align: center;
text-shadow:1px 1px 2px #244104;}


h2 {color: #84DB1D;
    text-shadow: 1px 1px 1px #345709;;}